<h2>@if (order) { Editar }@else{ Nueva } pedido</h2>
<div class="row row-cols-3 justify-content-center">
  @if (form) {
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="name">Nombre</label>
      <input
        id="name"
        type="text"
        class="form-control"
        placeholder="Nombre"
        formControlName="name"
        readonly
      />
    </div>
    <div class="mb-3">
      <label for="date">Fecha</label>
      <input
        id="date"
        type="datetime"
        class="form-control"
        formControlName="date"
        readonly
      />
    </div>

    <div class="form-check">
      <input
        id="delivery"
        type="checkbox"
        class="form-check-input"
        formControlName="delivery"
      />

      <label for="delivery"> Delivery </label>
    </div>

    <div class="mb-3">
      <label for="shippingAddress">Dirección de envio</label>
      <input
        id="shippingAddress"
        type="text"
        class="form-control"
        placeholder="Dirección"
        formControlName="shippingAddress"
      />
    </div>

    <div class="mb-3">
      <label for="storeId">Tienda</label>
      <select class="form-select" formControlName="storeId">
        <option value="" disabled selected>Elija una tienda</option>
        @for (store of stores; track store.id) {
        <option [value]="store.id">{{ store?.name }}</option>
        }
      </select>
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-danger" routerLink="/order">
        Cancelar
      </button>
      <button class="btn btn-success">
        @if (order) { Actualizar }@else{ Crear } orden
      </button>
    </div>
  </form>
  }
</div>
